input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
    margin-left: 1px;
    position: relative;
    font-family: tahoma, sans-serif, arial;
    line-height: 40px;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    padding: 0;
    height: 24px;
    width: 56px;
    margin: 0 5px 0 0;
    border: 1px solid #dadada;
    border-radius: 12px;
    background: #dddddd;
}

input[type="checkbox"] + label::before,
input[type="checkbox"] + label::after {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

input[type="checkbox"] + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background: #fff;
    border: 1px solid #dadada;
    box-shadow: 0 3px 3px rgba(140, 140, 140, .1);
}

input[type="checkbox"]:checked + label::before {
    background: #4347aa;
    border-color: #4347aa;
}

input[type="checkbox"]:checked + label::after {
    left: 33px;
}

.L-L {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}
.chose-layer {
    color: #fff;
}

input[type="button"] {
    width: 45%;
    text-decoration: none;
padding: 10px;
    border: none;
    outline: none;

}
input[type="button"]:first-child  {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
input[type="button"]:nth-child(2) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chose-layers {
    display: none;
    width: 200px;
    height: 200px;
    background: #000;
}
 .watch-legend {
     display: none;
     width: 200px;
     height: 200px;
     background: #000;
 }

.markers-info {
    display: inline-block;
    width: 270px;
}


.marker-type {
    float: left;
    margin-left: 20px;
}

.switcher {

    margin: 0 70px 0 0;
    float: right;
}
.markerController .legend-info {
    display: none;

}
.markerController .legend {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 4px 15px 0 20px;
}
.markerController .legend img {
    height: 37px;
    margin-top:5px;
    width: 32px;
}