body {
    margin: 0;
}

.vcn-app {
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

header .app-header {
    height: 120px;
    background: url("../img/flag(2).png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.app-header-article {
    height: 50px;
    width: 100%;
    background: #0E0E7C;
    text-align: center;
}
.app-header-article p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 16px 0 0 0;
}

.app-header-bg {
    width: 100%;
    height: 70px;
}


.app-main {
    width: 100%;
}

.app-main .app-main-header {
    background: url(../img/star_black.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 35%;
    height: 60px;
    margin: 0 auto;
}

.app-main .app-main-content {
    text-align: center;
    padding: 0 20px;
}

.app-main .app-main-content h1 {
    margin: 0;
}

.app-main .app-main-content p {
    text-align: justify;
    font-size: 18px;
}
.app-main-contacts {
    margin: 15px;
}
.app-main-contacts .e-mail {
    font-size: 18px;
    font-weight: bold;
    color: #993112;
}
.app-main-contacts .number {
    font-size: 20px;
    font-weight: bold;
}
.app-main-contacts .contact-data-address-type {
    font-weight: bold;
    font-size: 20px;
}
.app-main .contact-data-address {
    color:#999;
    font-size: 18px;
}

footer {
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    height: 70px;
    background: #0E0E7C;
    z-index: 5;
}

footer .app-footer {

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

.app-footer-nav {
    width: 25%;
    height: 66px;
    color: #fff;
    -webkit-background-size: contain;
    background-size: contain;
    text-align: center;

}

.app-footer .home-link {
    background: url("../img/home(1).png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;

}

/*.app-footer .home-link:hover {*/
    /*background: url("../img/home(2).png") no-repeat center;*/
    /*-webkit-background-size: contain;*/
    /*background-size: contain;*/

/*}*/

.app-footer .home-link:active {
    background: url("../img/home(3).png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;

}

.app-footer .map-link {
    background: url("../img/blue_map(1).png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;

}

/*.app-footer .map-link:hover {*/
    /*background: url("../img/blue_map(2).png") no-repeat center;*/
    /*-webkit-background-size: contain;*/
    /*background-size: contain;;*/

/*}*/

.app-footer .map-link:active {
    background: url("../img/blue_map(3).png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;;

}

.app-footer .about-link {
    background: url("../img/about(1).png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

/*.app-footer .about-link:hover {*/
    /*background: url("../img/about(2).png") no-repeat center;*/
    /*-webkit-background-size: contain;*/
    /*background-size: contain;*/
/*}*/

.app-footer .about-link:active {
    background: url("../img/about(3).png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

.app-footer .contact-link {
    background: url("../img/contact(1).png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

/*.app-footer .contact-link:hover {*/
    /*background: url("../img/contact(2).png") no-repeat center;*/
    /*-webkit-background-size: contain;*/
    /*background-size: contain;*/
/*}*/

.app-footer .contact-link:active {
    background: url("../img/contact(3).png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

