body {
    
}

header .app-header {
    background: none;
    height: 50px;
}
#map {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    bottom: 50px;
    z-index: 1;
}
.vcn-app .app-main .map-nav {
    align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
    width:100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
}
.map-nav .map-controller {
    width: 25%;
 	height: 40px;
    color: #fff;
    z-index: 3;

}
.map-nav .map {
    background: url("../img/map(1).png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;

}

.map-nav .loupe {
    background: url("../img/loupe.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;

}

.map-nav .book {
    background: url("../img/book.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}


.map-nav .help {
    background: url("../img/help.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.map-nav .markerController {
    display: none;
    position: absolute;
    width: 270px;
    height: 250px;
    background: #fff;
    border:1px solid #000;
    border-radius: 5%;
    color:#000;
    top: 75px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


